.hero{
    width: 100%;
    height: 620px;
    background-image: url('/img/about_hero.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-content: center;
}
.heroText{
    color: #fff;
    align-self: center;
}
.breadcrumb{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.heroDescription{
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.angleIcon{
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
}

.containerAbout{
    width: 100%;
    height: 525px;
    flex-grow: 0;
    margin: 22px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    padding: 0px 275px;
    line-height: 1.01;
    gap: 15px;
}
.containerAbout h1{
    font-size: 42px;
    margin-bottom: 29px;
}
.containerAbout p{
    margin: 10px 0px;
    color: #3f3f3f;
    line-height: 1.3;
}

.containerExperience{
    width: 100%;
    height: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0px 225px;
}
.containerAssymetric{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.containerAssymetric div:nth-child(1){
    width: 390px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.containerAssymetric div:nth-child(2){
    margin: 347px 14px 135px 58px;
    width: 400px;
    height: 400px;
}
.containerVision{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.containerVision h4:nth-child(1){
    width: 390px;
    padding-right: 50px;
}
.containerVision h4:nth-child(2){
    width: 390px;
    padding-left: 50px;
}
.containerVision span{
    font-weight: 500;
}
.containerVision h4{
    font-weight: 500;
    color: #3f3f3f;
}

.containerSpecialist{
    background-color: rgba(0, 146, 63, 0.94);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    height: 798px;
    color: #fff;
    padding: 0px 215px;
}
.containerSpecialist .flex{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.containerSpecialist .flex h2{
    margin-bottom: 20px;
}
.containerSpecialist .flex div{
    width: 50%;
    color: #fff;
    font-weight: 500;
}
.containerSpecialist .flex div li{
    padding: 5px 0px;
}
.containerSpecialist .bullet_list li{
    padding: 5px 0px;
}
.containerSpecialist .bullet_list{
    margin-top: 56px;
    margin-left: -25px;
    color: #fff;
    font-weight: 500;
}

.containerTeam{
    width: 100%;
    height: 998px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 0px 215px;
}
.containerTeam .team_cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.containerTeam .card{
    width: 27%;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap:10px;
    text-align: center;
}
.containerTeam .card img{
    border: 2px solid #00923f;
}

.containerFaq{
    width: 100%;  
    height: 704px;
    padding: 96px 50px;
    display: flex;
    gap: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.containerFaq .faq_cta{
    width: 45%;
    height: 430px;
    background-color: #82C583;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    text-align: left;
    color: #fff;
}
.containerFaq .faq_dialogue{
    width: 45%;
    min-height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
.containerFaq summary{
    width: 100%;
    height: 82px;
    border: 1px solid #DFF1DE;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: #86C787;
    padding: 0px 40px;
    cursor: pointer;
}
.containerFaq details p{
    padding: 10px 40px;
    border: 1px solid #d5edd4;
}


.cta{
  height: 50px;
  width: 212px;  
  background-color: #00923f;
  color: #fff !important;
  border: none;
  outline: none;
  box-shadow: none;
  margin-top: 20px;
  font-weight: bold;
}

@media (max-width:420px) {
    .containerAbout{
        padding: 0px 20px !important;
    }
}